@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'PT Sans', sans-serif;
  font-size: 1.25rem;
  color: #475569;
  background: #f8fafc;
}

h1, h2, h3 {
  color: #1e293b;
}

.filter-button.active {
  @apply bg-slate-800 text-slate-100;
}

.black-hover {
  background-color: rgba(15, 23, 42, 0.7);
}